:root {
    // 主色调（保持与之前一致）
  --el-color-primary: #339498 !important;
  --el-color-primary-light-3: #5AA9AD !important;
  --el-color-primary-light-5: #81BEC2 !important;
  --el-color-primary-light-7: #A8D3D7 !important;
  --el-color-primary-light-8: #BFDFE1 !important;
  --el-color-primary-light-9: #D6EAEC !important;
  --el-color-primary-dark-2: #287578 !important;
  --el-color-primary-active: #287578 !important;
}

.el-card{
  color: var(--el-text-color-regular) !important;
}