@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #339498,
    ),
    "success": (
      "base": #23c343,
    ),
    "warning": (
      "base": #ff9a2e,
    ),
    "danger": (
      "base": #f76560,
    ),
    "info": (
      "base": #a9aeb8,
    ),
  ),
  // $bg-color: (
  //   "page": #F2FAFF,
  // )
);

$zeng: #339498; // 主题色

$bg-color-1-light: #f5f7fa; // 背景颜色1
$bg-color-1-dark: #141414; // 暗黑模式背景颜色1
$bg-color-2-light: $bg-color-1-light; // 背景颜色2
$bg-color-2-dark: $bg-color-1-dark; // 暗黑模式背景颜色2
$bg-color-3-light: #f0f2f5; // 背景颜色3
$bg-color-3-dark: #1f1f1f; // 暗黑模式背景颜色3

//  边框颜色
$border-color-light: #EBEEF5; // 边框颜色
$border-color-dark: #2C313A; // 暗黑模式边框颜色

// 阴影颜色
$box-shadow-light: 0 2px 8px rgba(0, 0, 0, 0.06); // 阴影颜色
$box-shadow-dark: 0 2px 8px rgba(0, 0, 0, 0.12); // 暗黑模式阴影颜色

// 导航栏文字颜色
$nav-text-color-light: #333333;
$nav-text-color-dark: #FFFFFF;

/** 全局SCSS变量 */
:root {
  --zeng: #{$zeng};
  --bg-color: #ffffff;

  --el-menu-bg-color:  #{$bg-color-2-light}; // 菜单背景色
  --el-menu-text-color:  #8A9199; // 菜单文字颜色
  --el-menu-active-color:  #{$zeng}; // 菜单激活文字颜色
  --el-menu-hover-bg-color:  #{rgba($zeng, 0.3)}; // 菜单悬停背景色

  --border-color: #{$border-color-light}; // 边框颜色
  --box-shadow: #{$box-shadow-light}; // 阴影颜色
  
  --nav-bg-color: #{$bg-color-1-light}; // 导航栏背景色

  --el-bg-color-page: #{$bg-color-3-light};

  --sidebar-logo-background: #var(--el-bg-color);
  // 修复表格 fixed 列被选中后由于透明色导致叠字的 bug
  .el-table {
    --el-table-current-row-bg-color: rgb(235 243 250);
  }

  --icon-color: #8f959e; // 图标颜色
  
  --text-bold: #303133; // 加粗文字颜色
  --el-text-color-primary: #303133; // 加粗文字颜色
  --el-text-color-regular: #646a73; // 普通文字颜色
  --el-text-color-secondary:  #646a73; // 辅助文字颜色
  --el-text-color-placeholder: #c0c4cc; // 占位文字颜色

}

/** 暗黑主题 */
html.dark {
  --zeng: #{$zeng};
 
  --bg-color: #1f1f1f;

  --el-menu-bg-color: #{$bg-color-2-dark}; // 菜单背景色
  --el-menu-text-color: #8A9199; // 菜单文字颜色
  --el-menu-active-color: #{$zeng}; // 菜单激活文字颜色
  --el-menu-hover-bg-color: #143d3f; // 菜单悬停背景色

  --border-color: #{$border-color-dark}; // 边框颜色
  --box-shadow: #{$box-shadow-dark}; // 阴影颜色

  --nav-bg-color: #{$bg-color-1-dark}; // 导航栏背景色

  --el-bg-color-page: #{$bg-color-3-dark};

  --sidebar-logo-background: rgb(0 0 0 / 20%);

  --icon-color: #8f959e; // 图标颜色

  --text-bold: #e4e7ed; // 加粗文字颜色
  --el-text-color-primary: #e4e7ed; // 加粗文字颜色
  --el-text-color-regular: #a4a7b0; // 普通文字颜色
  --el-text-color-secondary: #8a9099; // 辅助文字颜色
  --el-text-color-placeholder: #707070; // 占位文字颜色
}

$sidebar-logo-background: var(--sidebar-logo-background); // 侧边栏 Logo 背景色
$sidebar-width: 210px; // 侧边栏宽度
$sidebar-width-collapsed: 54px; // 侧边栏收缩宽度
$navbar-height: 50px; // 导航栏高度
$tags-view-height: 34px; // TagsView 高度

$left-tree-weidth: 240px; // 左侧树形宽度
